ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_SESSION_SECRET=""

SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_DOWNLOADS_TABLE="downloads"
SUPABASE_CONTACT_REQUESTS_TABLE="contact_requests"

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

KV_REST_API_URL=""
KV_REST_API_TOKEN=""
